.wrapper .slider-show img, .wrapper .head-body .container .row .widget-shadow img {
  -webkit-box-shadow: -2px 28px 64px -14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 28px 64px -14px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 28px 64px -14px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em; }
  bodybefore, htmlbefore {
    content: "";
    box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 100%;
  height: auto; }
  .wrapper .persist-header {
    height: 72px;
    position: relative;
    overflow: hidden; }
    .wrapper .persist-header .head-page {
      background-image: url("/images/top-menu-bg.png");
      background-repeat: repeat;
      height: 72px; }
    .wrapper .persist-header .box-form-lang-cart {
      position: absolute;
      top: 0;
      right: 0; }
      .wrapper .persist-header .box-form-lang-cart .line-top {
        background-image: url("/images/right-language.png");
        background-repeat: repeat-y;
        height: 23px;
        width: 150px;
        overflow: hidden; }
        .wrapper .persist-header .box-form-lang-cart .line-top .form-language .form-group {
          color: #fff;
          font-size: 1.2em; }
          .wrapper .persist-header .box-form-lang-cart .line-top .form-language .form-group img {
            padding: 10px; }
      .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        height: 49px;
        margin: 0;
        padding: 0; }
        .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item > a {
          color: #fff; }
        .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(1) {
          padding: 6px 15px;
          position: relative; }
          .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(1) .dropdown-menu {
            min-width: 100px;
            position: absolute;
            right: 100px;
            border: 1px solid #a31806; }
            .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(1) .dropdown-menu li {
              text-align: center;
              padding: 6px 8px; }
              .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(1) .dropdown-menu li a {
                color: #000; }
              .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(1) .dropdown-menu li:nth-child(1) {
                border-bottom: 1px solid #dddddd; }
        .wrapper .persist-header .box-form-lang-cart .list-menu-login-cart .nav-item:nth-child(2) {
          padding: 6px 15px;
          background: #a31806;
          border-radius: 5px; }
    .wrapper .persist-header .nav-menu {
      display: flex; }
      .wrapper .persist-header .nav-menu .span-menu {
        flex: 1; }
        .wrapper .persist-header .nav-menu .span-menu .logo-page {
          position: absolute;
          top: 0;
          z-index: 999; }
      .wrapper .persist-header .nav-menu .img-shiper {
        position: absolute;
        right: 0; }
        .wrapper .persist-header .nav-menu .img-shiper img {
          width: 70%;
          max-width: 70%; }
      .wrapper .persist-header .nav-menu .list-menu {
        display: flex;
        line-height: 72px;
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        flex: 3; }
        .wrapper .persist-header .nav-menu .list-menu > .nav-item:not(:nth-child(2n)) > a {
          color: #fff;
          font-weight: bold;
          padding: 10px;
          text-decoration: none; }
        .wrapper .persist-header .nav-menu .list-menu > .nav-item:not(:nth-child(2n)):hover {
          background: url(/images/topbar-bg-hover.jpg);
          background-size: cover; }
        .wrapper .persist-header .nav-menu .list-menu .nav-item > a:nth-child(1):hover > .box-menu-food {
          opacity: 1;
          color: #a31806; }
        .wrapper .persist-header .nav-menu .list-menu .list-parent-food {
          position: relative; }
          .wrapper .persist-header .nav-menu .list-menu .list-parent-food .box-menu-food {
            display: none;
            transition: all 500ms ease;
            position: fixed;
            width: 100%;
            max-width: 100%;
            background: #a31806;
            left: 0;
            border-bottom: 2px solid #fff; }
            .wrapper .persist-header .nav-menu .list-menu .list-parent-food .box-menu-food .menu-food {
              left: 30%;
              display: flex;
              flex-wrap: wrap;
              margin-top: 40px;
              list-style: none;
              font-weight: bold; }
              .wrapper .persist-header .nav-menu .list-menu .list-parent-food .box-menu-food .menu-food li {
                width: 25%;
                min-height: 50px; }
                .wrapper .persist-header .nav-menu .list-menu .list-parent-food .box-menu-food .menu-food li a {
                  color: #fff;
                  text-transform: uppercase; }
  .wrapper .slider-show {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 0; }
    .wrapper .slider-show img {
      object-fit: cover; }
  .wrapper #camera_wrap_1 {
    margin-bottom: -1px !important; }
  .wrapper .clearfloat {
    clear: both;
    display: block;
    height: 0;
    margin-top: -100px; }
  .wrapper .head-body {
    background: transparent url(/images/body-bg.png) repeat-x;
    background-size: 100% 100%; }
    .wrapper .head-body .container .row {
      min-height: 300px;
      max-height: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrapper .head-body .container .row .widget-shadow {
        padding-top: 15px;
        padding-bottom: 15px; }
        .wrapper .head-body .container .row .widget-shadow img {
          width: 224px;
          height: 205px;
          width: 100%;
          max-width: 100%;
          height: auto;
          object-fit: cover; }
  .wrapper footer {
    min-height: 181px; }
    .wrapper footer .footer-head {
      min-height: 128px;
      background: url(/images/footer-bg.jpg) repeat-x;
      font-size: 0.9em; }
      .wrapper footer .footer-head .list-info, .wrapper footer .footer-head .list-society {
        list-style: none; }
        .wrapper footer .footer-head .list-info li, .wrapper footer .footer-head .list-society li {
          display: inline-block; }
      .wrapper footer .footer-head .list-info li {
        padding: 10px; }
        .wrapper footer .footer-head .list-info li a {
          color: #fff;
          padding-right: 10px;
          border-right: 1px solid #fff; }
      .wrapper footer .footer-head .list-info li a:nth-child(4) {
        border-right: none; }
      .wrapper footer .footer-head .list-society {
        justify-content: center;
        align-items: center; }
      .wrapper footer .footer-head .form-send-mail {
        padding: 10px; }
        .wrapper footer .footer-head .form-send-mail a {
          display: block;
          color: #fff; }
        .wrapper footer .footer-head .form-send-mail .btn-send-mail {
          margin-left: 5px;
          background: #a31806;
          color: #fff; }
    .wrapper footer .footer-copyright {
      background: #a31806;
      min-height: 53px;
      color: #fff;
      text-align: center;
      font-size: 0.7em; }

/*# sourceMappingURL=Base.css.map */
