.box-food
.wrap-category
.sub-category-promotion {
  -webkit-box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em; }
  bodybefore
, htmlbefore {
    content: "";
    box-sizing: border-box; }

.box-food
.wrap-category
.sub-category-promotion {
  -webkit-box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -2px 19px 1px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em; }
  bodybefore
, htmlbefore {
    content: "";
    box-sizing: border-box; }

.main-food {
  background: #fdf2de; }

.box-welcome {
  padding-top: 100px; }
  .box-welcome
img {
    width: 100%;
    max-width: 100%;
    object-fit: cover; }
  .box-welcome
.welcome {
    width: 100%;
    max-width: 50%; }

.box-food
.wrap-category {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  text-decoration: none; }
  .box-food
.wrap-category
.sub-category {
    padding-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .box-food
.wrap-category
.sub-category
.img-food {
      width: 257px;
      max-width: 100%;
      height: 250px; }
      .box-food
.wrap-category
.sub-category
.img-food
img {
        width: 257px;
        max-width: 100%;
        object-fit: contain;
        height: 250px;
        padding-bottom: 30px; }
    .box-food
.wrap-category
.sub-category
.btn-food-new {
      width: 70%;
      background-image: -webkit-linear-radient(#f6892f, #ce6009);
      background-image: -webkit-linear-gradient(#f6892f, #ce6009);
      background-image: -moz-linear-gradient(#f6892f, #ce6009);
      background-image: -ms-linear-gradient(#f6892f, #ce6009);
      background-image: -o-linear-gradient(#f6892f, #ce6009);
      border-radius: 5px;
      text-align: center; }
      .box-food
.wrap-category
.sub-category
.btn-food-new
.btn.btn-food {
        color: #fff;
        text-transform: uppercase;
        padding: 5px 10px; }
  .box-food
.wrap-category
.sub-category-promotion {
    background: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center; }
    .box-food
.wrap-category
.sub-category-promotion
.img-promtion {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .box-food
.wrap-category
.sub-category-promotion
.img-promtion
img {
        width: 147px;
        height: 147px; }
    .box-food
.wrap-category
.sub-category-promotion
.title-promotion-food {
      color: #ff7900; }
    .box-food
.wrap-category
.sub-category-promotion
.price-promotion {
      font-size: 1.5em;
      color: #389c38; }

.box-food
.title-menu-footer {
  color: #a31806;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; }

.food-all {
  background: rgba(252, 241, 221, 0.5); }

.box-food-new
.img-infomation {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box-food-new
.img-infomation
img {
    width: 100%;
    max-width: 100%; }

.box-food {
  display: flex;
  flex-direction: column; }
  .box-food
.wrap-category
.sub-category-promotion {
    font-weight: bold; }
    .box-food
.wrap-category
.sub-category-promotion
.sub-img-food-menu {
      margin: 0;
      padding: 0; }
      .box-food
.wrap-category
.sub-category-promotion
.sub-img-food-menu
img {
        width: 262px;
        height: 207px;
        object-fit: COVER; }
    .box-food
.wrap-category
.sub-category-promotion
.title-promotion-food {
      color: #ff7900;
      padding-bottom: 20px; }
    .box-food
.wrap-category
.sub-category-promotion
.price-promotion {
      font-size: 1.5em;
      color: #389c38; }
    .box-food
.wrap-category
.sub-category-promotion
.price-food {
      text-decoration: line-through;
      color: #dddddd;
      padding-top: 20px;
      font-size: 1.5em; }
    .box-food
.wrap-category
.sub-category-promotion
.link-order {
      background: #a31806;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase; }
