@import 'system';
.main-promotion
{
	background: rgba(252, 241, 221, 0.5) url("/images/bg-coupon.png") no-repeat scroll;
    background-size: 100%;
    clear: both;
    height:auto;
    width: 100%;
    margin-top: 0px;
	.box-title 
	{
		padding-top:$padding-top-logo;
		display:flex;
		@include center-object;
		img 
		{
			width:80%;
			max-width:100%;
		}
	}
	.content-title
	{
		text-align:center;
	}
	.program-promotion 
	{
	
		text-align:center;
		.info-promotion h3
		{
			color:$color-red;
		}
		.item-promotion 
		{
			position:relative;
			.img-info-promotion 
			{
				top:0;
				margin-top:50px;
				margin-bottom:50px;
				img 
				{
					max-width:100%;
					width:100%;
					object-fit:cover;
					@extend %shadow-bottom;
				}
			}
			.link-additional 
			{
				position:absolute;
				bottom:60px;
				background:$color-red;
				padding:10px 15px;
				border:1px solid $color-while;
				color:$color-while;
				text-transform:uppercase;
				right:20px;
				
			}
			.pagination-page 
			{
				padding:$padding-top-logo - 30px 0;
				
			}
			.active
			{
				background:#000 !important;
			}
		}
	}

}